*{
    margin: 0;
box-sizing: border-box;

}
body{
    background-color: #b0c1f5;
}

.container{
    height: 45vh;
     width: 40%;
    /* background-color: rgb(201, 201, 238); */
    display: flex;
    align-items: center;
  padding: 20px;
    flex-direction: column;
    margin-left: 500px;
    border-radius: 50px;
    margin-top: 100px;
    border: 1px solid rgb(183, 180, 180);
    -webkit-box-shadow: inset 13px -5px 42px -1px rgba(78, 0, 0, 0.79);
-moz-box-shadow: inset 13px -5px 42px -1px rgba(11, 11, 11, 0.79);
box-shadow: inset 103px -5px 42px -1px rgba(0,0,0,0,0.79);

}
h1{
    font-size: 50px;
    color: white;
    text-align: center;
    background-color: #146C94;
 }
p{
    font-size: 20px;
    margin: 20px;

   
}
#first{
    font-size: 15px;
    border: none;
    padding: 10px;
   background-color: white;
}
#second{
    font-size: 15px;
    padding: 10px;
    border: none;
    background-color: white;
}
button {
    width: 150px;
    height: 60px;
    border: none;

    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: rgb(30, 14, 116);
    color: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  }
  
  button:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
  }
  #answer{
    padding: 8px;
    background-color: white;
    border: none;

  }